p{
    font-size: 24px;
}
.btn-primary{
 background-color: aquamarine;
 color: azure;
}
#gen1{
    border: 2px solid black;
}
*{
    box-sizing: border-box;
    margin: 0;
}
#main-tittle{
    color:blue;
}
.title{
    color:green;
}
h1{
    color:black;
}